@font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  .nav-links, .footer-links {
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: ubuntu-l;
  }
  
  .nav-links li a, .footer-links li a {
    color: #edeaf5;
    text-decoration: none;
    -webkit-transition: color 2s;
    transition: color 2s;
  }
  
  .nav-links li a:hover, .footer-links li a:hover {
    font-family: ubuntu-b;
    text-decoration: underline;
    color: #ed0132;
  }
  
  .footer-links {
    padding: 1.4em;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    background: #faf8f1;
  }
  
  .hp-content-container {
    padding: 0.6em;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  .nav-links, .footer-links {
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: ubuntu-l;
  }
  
  .nav-links li a, .footer-links li a {
    color: #edeaf5;
    text-decoration: none;
    -webkit-transition: color 2s;
    transition: color 2s;
  }
  
  .nav-links li a:hover, .footer-links li a:hover {
    font-family: ubuntu-b;
    text-decoration: underline;
    color: #ed0132;
  }
  
  .footer-links {
    padding: 1.4em;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  .title {
    background: #a09c9c;
    margin: 0.8em auto;
    padding: 0.8em;
    text-align: center;
  }
  
  .hero-container {
    min-height: 14vh;
    background: #642020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .banner1 {
    display: none;
  }
  
  .banner3 {
    display: none;
  }
  
  nav {
    height: 4vh;
    background: #0e0303;
    padding: 1.2em;
  }
  
  .date-container {
    display: none;
  }
  
  .item, .item3 {
    margin: 1em auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .item img, .item3 img {
    width: 80%;
  }
  
  .img-text {
    background: #0e0303;
    width: 80%;
    height: 70%;
    padding: 1em;
  }
  
  .img-text a {
    color: #ca09ca;
    text-decoration: none;
    font-family: ubuntu-b;
    -webkit-transition: font-size 1.5s;
    transition: font-size 1.5s;
  }
  
  .img-text a:hover {
    font-size: 1.3em;
  }
  
  .item3 img {
    height: 100%;
  }
  
  footer {
    margin-top: 2.4em;
    padding: 1.6em;
    background: #0e0303;
    text-align: center;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  .nav-links, .footer-links {
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: ubuntu-l;
  }
  
  .nav-links li a, .footer-links li a {
    color: #edeaf5;
    text-decoration: none;
    -webkit-transition: color 2s;
    transition: color 2s;
  }
  
  .nav-links li a:hover, .footer-links li a:hover {
    font-family: ubuntu-b;
    text-decoration: underline;
    color: #ed0132;
  }
  
  .footer-links {
    padding: 1.4em;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    background: #faf8f1;
  }
  
  .hp-content-container {
    padding: 0.6em;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  .title {
    background: #a09c9c;
    margin: 0.8em auto;
    padding: 0.8em;
    text-align: center;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  .title {
    background: #a09c9c;
    margin: 0.8em auto;
    padding: 0.8em;
    text-align: center;
  }
  
  @font-face {
    font-family: ubuntu-l;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-L.ttf");
  }
  
  @font-face {
    font-family: ubuntu-c;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-C.ttf");
  }
  
  @font-face {
    font-family: ubuntu-b;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-B.ttf");
  }
  
  @font-face {
    font-family: ubuntu-m;
    src: url("../../ubuntu-font-family-0.80/Ubuntu-M.ttf");
  }
  
  h2 {
    color: #0b031a;
    font-family: ubuntu-m;
    padding: 0.2em;
    font-size: 1.2em;
  }
  
  h3 {
    color: #edeaf5;
    font-family: ubuntu-c;
    font-size: 0.8em;
    padding: 0.4em;
  }
  
  p {
    font-family: ubuntu-l;
    font-size: 0.7em;
    color: #edeaf5;
    text-align: center;
    padding: 0.4em;
  }
  
  span {
    background: #241aa7;
    border-radius: 6px;
    color: white;
    padding: 0.2em;
    font-family: ubuntu-l;
  }
  
  .nav-links, .footer-links {
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: ubuntu-l;
  }
  
  .nav-links li a, .footer-links li a {
    color: #edeaf5;
    text-decoration: none;
    -webkit-transition: color 2s;
    transition: color 2s;
  }
  
  .nav-links li a:hover, .footer-links li a:hover {
    font-family: ubuntu-b;
    text-decoration: underline;
    color: #ed0132;
  }
  
  .footer-links {
    padding: 1.4em;
  }
  
  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .banner1 {
      display: block;
      width: 50%;
    }
    .banner1 img {
      width: 100%;
    }
    nav {
      padding: 2em;
    }
    .nav-links li a, .footer-links li a {
      font-size: 1.6em;
    }
    .date-container {
      display: block;
      text-align: right;
      margin-top: 0.8em;
    }
    .title {
      width: 90%;
    }
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
    }
    .tn-pop-grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
    #row-bottom {
      -ms-grid-column: span 2;
          grid-column-start: span 2;
    }
    #row-bottom2 {
      -ms-grid-column: span 2;
          grid-column-start: span 2;
    }
    .banner3 {
      display: block;
      width: 90%;
      margin: 0.2em auto;
      -webkit-transition: width 2s;
      transition: width 2s;
    }
    .banner3 img {
      width: 100%;
    }
    .banner3:hover {
      width: 100%;
    }
    .footer-links {
      padding: 2em;
    }
    h3 {
      font-size: 1.2em;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .hero-container {
      min-height: 20vh;
      padding: 3em;
    }
    #logo-top {
      width: 28%;
    }
    .banner1 {
      display: block;
      width: 40%;
    }
    .banner1 img {
      width: 100%;
    }
    nav {
      padding: 3.4em;
    }
    .nav-links, .footer-links {
      width: 60%;
      text-align: left;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    .nav-links li a, .footer-links li a {
      font-size: 2em;
    }
    .date-container {
      display: block;
      text-align: right;
      margin: 2.2em 1.8em;
    }
    span {
      font-size: 1.8em;
      background: #faf8f1;
      color: #0b031a;
    }
    .title {
      width: 80%;
      text-align: left;
      margin-top: 2em;
    }
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
    }
    .tn-pop-grid {
      width: 80%;
      margin: 0.2em auto;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
      -webkit-column-gap: 4em;
              column-gap: 4em;
    }
    .item img, .item3 img {
      width: 100%;
    }
    .img-text {
      width: 100%;
    }
    #grid3 {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 2.4em;
              column-gap: 2.4em;
    }
    .banner3 {
      display: block;
      width: 60%;
      margin: 1.8em auto;
      -webkit-transition: width 2s;
      transition: width 2s;
    }
    .banner3 img {
      width: 100%;
    }
    .banner3:hover {
      width: 80%;
    }
    .footer-line1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #logo-bottom {
      margin-right: 2em;
    }
    h3 {
      font-size: 1.3em;
      padding: 1.6em;
    }
  